.carousel {
  --slide-spacing: 0;
  --slide-size: 100%;
  --slide-height: 40rem;
  position: relative;
  width: 100%;
  height: var(--slide-height);

  display: flex;
  align-items: stretch;
}
.carousel_flip {
  flex-direction: row-reverse;
}

.carousel__text_section {
  width: 30%;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem 3rem;
  gap: 2rem;
  color: var(--white-1);
}
.carousel__utility_container {
  position: relative;
  width: 70%;
  z-index: 10;
  pointer-events: none;
  touch-action: none;
}
.carousel__viewport {
  position: absolute;
  width: auto;
  overflow: hidden;
  z-index: 0;
}
.carousel__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.carousel__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.carousel__slide__img {
  display: block;
  height: var(--slide-height);
  width: 100%;
  object-fit: cover;
}
.carousel__slide__number {
  width: 4.6rem;
  height: 4.6rem;
  z-index: 1;
  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  border-radius: 50%;
  background-color: rgba(var(--background-site-rgb-value), 0.85);
  line-height: 4.6rem;
  font-weight: 900;
  text-align: center;
  pointer-events: none;
}
.carousel__slide__number > span {
  color: var(--brand-primary);
  background-image: linear-gradient(
    45deg,
    var(--brand-primary),
    var(--brand-secondary)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6rem;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.carousel__buttons {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.carousel__button {
  background-color: rgba(var(--val--overlay-1), .8);
  touch-action: manipulation;
  pointer-events: visible;
  text-decoration: none;
  border: 0;
  border-radius: 100rem;
  padding: 0;
  margin: 0;
  z-index: 1;
 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  opacity: 0.5;
  transition: all 200ms;
}
.carousel__button:hover {
  opacity: 1;
}
.carousel__button:disabled {
  opacity: 0.3;
}
.carousel__button__svg {
  color: white;
  width: 50%;
  height: 50%;
}
.carousel__dots {
  z-index: 1;
  bottom: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .5;
  transition: all 200ms;
}
.carousel__dots:hover {
  opacity: 1;
}
.carousel__dot {
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;

  width: 1.7rem;
  height: 1rem;
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  transition: all 300ms;

  pointer-events: visible;
}
.carousel__dot:after {
  background: rgba(var(--val--white-1), .75);
  border-radius: 0.3rem;
  width: 100%;
  height: 0.5rem;
  content: '';
}
.carousel__dot__selected:after {
  background: linear-gradient(
    45deg,
    var(--secondary-1),
    var(--secondary-2)
  );
}
