.jumbotron {
  --slide-spacing: 0;
  --slide-size: 100%;
  position: relative;
}
.jumbotron__viewport {
  overflow: hidden;
  height: 100%;
  z-index: 0;
}
.jumbotron__container {
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}
.jumbotron__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}
.jumbotron__slide__img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.jumbotron__button {
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.jumbotron__buttons {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}
.jumbotron__button {
  z-index: 1;
  color: var(--background-site);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
}
.jumbotron__button:disabled {
  opacity: 0.3;
}
.jumbotron__button__svg {
  width: 65%;
  height: 65%;
}
.jumbotron__dot {
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
}
.jumbotron__dots {
  z-index: 1;
  bottom: 1rem;
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.jumbotron__dot {
  width: 1.7rem;
  height: 1rem;
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  transition: all 300ms;
}
.jumbotron__dot:after {
  background: rgba(var(--val--white-1, 0.25));
  border-radius: 0.3rem;
  width: 100%;
  height: 0.5rem;
  content: "";
}
.jumbotron__dot__selected:after {
  background: linear-gradient(45deg, var(--secondary-1), var(--secondary-2));
}

.jumbotron__thumbs {
  --thumbs-slide-spacing: 0.8rem;
  --thumbs-slide-height: 5rem;
  --thumbs-border-radius: 0.7rem;
  background-color: rgba(var(--val--dark-1), 0.7);
  padding: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.jumbotron__thumbs__viewport {
  overflow: hidden;
}
.jumbotron__thumbs__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: var(--thumbs-slide-spacing);
}
.jumbotron__thumbs__slide {
  min-width: 10rem;
  max-width: 10rem;
  position: relative;
}

.jumbotron__thumbs__slide__button {
  background-color: transparent;
  touch-action: manipulation;
  display: block;
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--thumbs-border-radius);
  width: 100%;
  opacity: 0.5;
  border: 4px solid transparent;
  overflow: hidden;

  transition: border 0.2s;
  transition: opacity 0.2s;
}
.jumbotron__thumbs__slide__selected .jumbotron__thumbs__slide__button {
  border-color: var(--secondary-1);
  opacity: 1;
}
.jumbotron__thumbs__slide__img {
  display: block;
  height: var(--thumbs-slide-height);
  width: 100%;
  object-fit: cover;
}